.containerCenter {
    width: 80%;
    margin: 20px auto;


    @media screen and (max-width:1044px) {
        width: auto;
        margin-left: 25px;
        margin-right: 25px;

    }
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    nav {
        display: flex;
        align-items: center;

        @media screen and (max-width:1044px) {

            position: fixed;
            top: 0;
            right: 0;
            height: 100%;
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            background-color: cyan;
            gap: 1.5rem;

        }
    }
}



.nav-btn {
    display: none;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;

    @media only screen and (max-width:1044px) {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
}

.nav-close-btn {
    @media only screen and (max-width:1044px) {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

.teste {
    @media only screen and (max-width:1044px) {
        transition: 1s;
        transform: translateX(100vh);
    }
}

.responsive_nav {
    @media only screen and (max-width:1044px) {
        transition: 1s;
        transform: none;
    }
}



.Link {
    padding-left: 2rem;
    color: var(--textColor);
    text-decoration: none;
}

.Link:hover {
    color: var(--Soft-orange);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;

}

.containerMain {

    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    @media screen and (max-width:1044px) {
        flex-direction: column;
        gap: 0px;
    }
}

.containerLeft {
    width: 70%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width:1044px) {
        width: 100%;

    }
}

.containerImageDesktop {

    img {
        width: 100%;
        height: 100%;

        @media screen and (max-width:1044px) {
            display: none;
        }
    }
}

.containerImageMobile {
    display: none;

    img {
        width: 100%;
        height: 100%;
    }

    @media screen and (max-width:1044px) {
        display: flex;
    }
}

.container1 {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    @media screen and (max-width:1044px) {
        flex-direction: column;
    }

}

.containerH1 {
    width: 60%;
    height: 100%;

    h1 {
        width: 250px;
        font-size: 3rem;
        font-family: 'Inter', sans-serif;
        font-weight: 800;

        @media screen and (max-width:1044px) {
            width: 100%;
            font-size: 2.5rem;
        }
    }

    @media screen and (max-width:1044px) {
        width: 100%;
    }


}

.container2 {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    span {
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        text-align: left;
        color: var(--Dark-grayish-blue);

        @media screen and (max-width:1044px) {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }

    button {

        letter-spacing: .2rem;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        border: none;
        color: white;
        width: 50%;
        background-color: var(--Soft-red);
        padding: 1rem;
    }

    button:hover {
        background-color: var(--Very-dark-blue);

    }

    @media screen and (max-width:1044px) {
        width: 100%;
        margin-bottom: 2rem;
    }
}

.containerRight {
    width: 30%;
    margin-left: 20px;
    background-color: var(--Very-dark-blue);
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 1rem 1rem 0 1rem;

    @media screen and (max-width:1044px) {
        width: 90%;
        margin-left: 0;
        padding: 1rem 1rem 1rem 1rem;
    }
}

.containerH3 {

    width: 100%;
    margin-bottom: 2rem;

    span {
        font-weight: 800;
        color: var(--Soft-orange);
        font-size: 2rem;
        font-family: 'Inter', sans-serif;
    }


}

.containerRightCards {

    height: 100%;
    display: flex;
    flex-direction: column;


}

.Card {

    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--Dark-grayish-blue);
    margin-bottom: 1rem;

    h3 {
        color: var(--Off-white);
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 15px;
        font-family: 'Inter', sans-serif;
    }

    h3:hover {
        color: var(--Soft-orange);
        cursor: pointer;
    }

    p {
        font-size: 0.75rem;
        font-family: 'Inter', sans-serif;
        color: var(--Dark-grayish-blue);
    }


}

.CardNoBorder {

    width: 100%;
    height: 100%;


    h3 {
        color: var(--Off-white);
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 15px;
        font-family: 'Inter', sans-serif;
    }

    h3:hover {
        color: var(--Soft-orange);
        cursor: pointer;
    }

    p {
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        color: var(--Dark-grayish-blue);
    }
}

.containerCarrosel {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    @media screen and (max-width:1044px) {
        flex-direction: column;
    }

}

.CarroselCard {

    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    img {
        height: 100%;
        width: 40%;
    }

}

.CarroselCardInfo {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
        font-weight: 800;
        font-family: 'Inter', sans-serif;
        color: var(--Grayish-blue);
        width: 100%;
        margin: 0px 0px 0px;
        font-size: 2rem;
    }

    span {
        font-family: 'Inter', sans-serif;
        color: var(--Very-dark-blue);
        text-overflow: clip;
        font-weight: 800;
        font-size: 16px;
    }

    span:hover {
        color: var(--Soft-orange);
        cursor: pointer;
    }

    p {

        font-size: 14px;
        color: var(--Dark-grayish-blue);
    }
}